DB_HOST=go_db                   # mesmo nome do servico do docker compose
DB_PORT=5432                    # porta padrão do postgres
DB_USER=user_banco
DB_PASSWORD=senha_banco
DB_NAME=nome_db_banco

UPSTREAMS=http://go_app:8000
RATE_LIMIT=30
WINDOW_SEC=60
CB_FAIL_THRESHOLD=3
CB_COOLDOWN_SEC=10