DB_HOST=go_db                   # mesmo nome do servico do docker compose
DB_PORT=5432                    # porta padrão do postgres
DB_USER=user_banco
DB_PASSWORD=senha_banco
DB_NAME=nome_db_banco
DB_SSLMODE=enable_ou_disable
JWT_SECRET=seu_secret